<div class="overlay">
    <div class="modal">
        @if(!registerMode){
            <h2>Connexion</h2>
        }
        @if(registerMode){
            <h2>Inscription</h2>
        }
       
        
        @if(!registerMode){
            <app-login-form (success)="close.emit()" />
        }
        @if(registerMode){
            <app-register-form (success)="close.emit()" />
        }
        
        
        @if(!registerMode){
            <div class="actions" >
                <p>Pas encore inscrit ?</p>
                <button (click)="switchToRegister.emit()">S’enregistrer</button>
                </div>
        }
        

        <button class="close-btn" (click)="close.emit()">×</button>
    </div>
</div>

