<div class="tabs">
    @for(tab of tabs;track tab){
        <button [class.active]="viewMode === tab.key" (click)="viewMode = tab.key">
            {{ tab.label }}
            </button>
    }
    
</div>
@if(stats){
    <p class="agreement">
        Votre accord avec le top : <strong>{{ stats.agreementRate }}%</strong></p>
}

<div class="filters">
    <input type="text" placeholder="Filtrer par ID..." [(ngModel)]="search" />

    <select [(ngModel)]="sortBy">
        <option value="score">Trier par Elo</option>
        <option value="wins">Trier par Victoires</option>
        <option value="losses">Trier par Défaites</option>
    </select>
</div>
  @if(stats){
    <div class="cat-grid">
        @for(cat of getDisplayedCats();track cat){
            <div class="cat-card">
                <img [src]="cat.imageUrl" />
                <div class="info">
                    <p><strong>Scores Elo :</strong> {{ cat.score | number:'1.0-0' }}</p>
                    <p><strong>Victoires :</strong> {{ cat.wins }}</p>
                </div>
                </div>
        }
        
    </div>
    
  }
  
