<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input id="pseudo" formControlName="pseudo" type="text" placeholder="Votre pseudo" />
        @if(form.get('pseudo')?.invalid && form.get('pseudo')?.touched){
            <div class="error">
                Le pseudo est requis.
                </div>
        }
        
    </div>

    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input id="password" formControlName="password" type="password" placeholder="Votre mot de passe" />
        @if(form.get('password')?.invalid && form.get('password')?.touched){
            <div class="error">
                Le mot de passe est requis.
            </div>
        }
        
    </div>

    <button type="submit" [disabled]="form.invalid">Se connecter</button>
    @if(errorMessage){
        <p class="error-message">{{ errorMessage }}</p>
    }
    
</form>

